<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <netMsmqBinding>
        <binding name="nonTransactionalQueueBinding" exactlyOnce="false">
          <security mode="None"/>
        </binding>
      </netMsmqBinding>
    </bindings>
    <client>
      <endpoint address="net.msmq://localhost/private/courseorder" binding="netMsmqBinding" bindingConfiguration="nonTransactionalQueueBinding" contract="Wrox.ProCSharp.Messaging.ICourseOrderService" name="queueEndpoint" kind="" endpointConfiguration=""/>
    </client>
  </system.serviceModel>
</configuration>
