<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <appSettings>
    <add key="myWebService.Service" value="http://localhost:51245/PCSWebService1/Service.asmx"/>
  </appSettings>
</configuration>
