<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <services>
          <service name="Ch26Ex03.AppControlService">
            <endpoint address="net.tcp://localhost:8081/AppControlService"
              binding="netTcpBinding" contract="Ch26Ex03.IAppControlService" />
          </service>
        </services>
    </system.serviceModel>
</configuration>
