<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netMsmqBinding>
        <binding name="nonTransactionalQueueBinding"
              exactlyOnce="false">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
    </bindings>
    <client>
      <endpoint address="net.msmq://localhost/private/courseorder"
          binding="netMsmqBinding"
          bindingConfiguration="nonTransactionalQueueBinding"
          contract="Wrox.ProCSharp.Messaging.ICourseOrderService"
          name="queueEndpoint" />
    </client>
  </system.serviceModel>

</configuration>