<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Wrox.ProCSharp.Transactions.Properties.Settings.CourseManagementConnectionString"
            connectionString="Data Source=(local);Initial Catalog=CourseManagement;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>