<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
       <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />             
    </startup>

  <system.diagnostics>
    <sources>
      <source name="Wrox.ProCSharp.Instrumentation" switchName="MySourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="xmlListener" />
          <add name="delimitedListener" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xmlListener" type="System.Diagnostics.XmlWriterTraceListener" traceOutputOptions="LogicalOperationStack, Callstack" initializeData="c:/logs/mytrace.xml">
        <!--<filter type="System.Diagnostics.SourceFilter" initializeData="Wrox.ProCSharp.Instrumentation"/>-->
      </add>
      <add name="delimitedListener"  delimiter=":" type="System.Diagnostics.DelimitedListTraceListener" traceOutputOptions="DateTime, ProcessId, LogicalOperationStack"  initializeData="c:/logs/mytrace.txt">
        <!--<filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning"/>-->
      </add>
    </sharedListeners>
    <trace autoflush="true" />


    <assert assertuienabled="false"/>
    <switches>
      <add name="Wrox.ProCSharp.Instrumentation" value="Verbose"/>
      <add name="MySourceSwitch" value="Verbose, ActivityTracing"/>
    </switches>
  </system.diagnostics>
</configuration>