<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqToXmlConvert.Properties.Settings.db_TomeTwoConnectionString"
            connectionString="Data Source=LVSHUANG\SHJ;Initial Catalog=db_TomeTwo;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>