<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ExamsEntities" connectionString="metadata=res://*/ExamsModel.csdl|res://*/ExamsModel.ssdl|res://*/ExamsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local)\sqlexpress;Initial Catalog=SqlServerSampleDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>