USE [SqlServerSampleDB]
GO
/****** Object:  Table [dbo].[Exams]    Script Date: 11/29/2009 11:08:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Number] [nchar](10) NOT NULL,
	[Info] [xml] NOT NULL,
 CONSTRAINT [PK_Exams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Exams] ON
INSERT [dbo].[Exams] ([Id], [Number], [Info]) VALUES (3, N'70–561    ', N'<Exam Number="70–561"><Title>TS: Microsoft .NET Framework 3.5, ADO.NET Application Development</Title><Certification Name="MCTS ADO.NET Applications" Status="Core" /><Course>2310</Course><Course>6464</Course><Topic>Connecting to Data Sources</Topic><Topic>Selecting and Querying Data</Topic><Topic>Modifying Data</Topic><Topic>Synchronizing Data</Topic><Topic>Working with Disconnected Data</Topic><Topic>Object Relational Mapping by Using the Entity Framework</Topic></Exam>')
SET IDENTITY_INSERT [dbo].[Exams] OFF
/****** Object:  SqlAssembly [SqlTypes]    Script Date: 11/29/2009 11:08:29 ******/
CREATE ASSEMBLY [SqlTypes]
AUTHORIZATION [dbo]
FROM 0x4D5A90000300000004000000FFFF0000B800000000000000400000000000000000000000000000000000000000000000000000000000000000000000800000000E1FBA0E00B409CD21B8014CCD21546869732070726F6772616D2063616E6E6F742062652072756E20696E20444F53206D6F64652E0D0D0A2400000000000000504500004C0103002F36124B0000000000000000E00002210B0108000012000000060000000000005E3000000020000000400000000040000020000000020000040000000000000004000000000000000080000000020000000000000300408500001000001000000000100000100000000000001000000000000000000000000830000053000000004000008003000000000000000000000000000000000000006000000C0000008C2F00001C0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000080000000000000000000000082000004800000000000000000000002E7465787400000064100000002000000012000000020000000000000000000000000000200000602E7273726300000080030000004000000004000000140000000000000000000000000000400000402E72656C6F6300000C000000006000000002000000180000000000000000000000000000400000420000000000000000000000000000000040300000000000004800000002000500E0230000AC0B000001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000005E0002167D0800000402037D0600000402047D070000042A1330040087000000010000110002167D0800000402051F3C045A5820100E0000035A587D06000004020E061F3C0E055A5820100E00000E045A587D070000040E070A06175945030000002D0000001E000000020000002B3A02027B06000004657D0600000402027B07000004657D070000042B1E02027B06000004657D060000042B0F02027B07000004657D070000042B002A00133001000C0000000200001100027B080000040A2B00062A133002001700000003000011001200FE15030000021200177D08000004060B2B00072A0013300400090100000400001100027B0800000416FE01130A110A2D0814130938EE000000027B060000041630041F532B021F4E0A027B070000041630041F572B021F450B027B06000004281100000A20100E00005B0C027B06000004281100000A20100E00005D0D091F3C5B1304091F3C5D1305027B07000004281100000A20100E00005B1306027B07000004281100000A20100E00005D0D091F3C5B1307091F3C5D130872010000701E8D19000001130B110B16088C1A000001A2110B1711048C1A000001A2110B1811058C1A000001A2110B19068C1B000001A2110B1A11068C1A000001A2110B1B11078C1A000001A2110B1C11088C1A000001A2110B1D078C1B000001A2110B281200000A13092B0011092A000000B0002700220000001B3008005F01000005000011000F00281300000A16FE01130711072D0C28040000061306383E010000000F00281400000A178D1B00000113081108161F2C9D11086F1500000A0A198D1B00000125D009000004281700000A0B06169A076F1500000A0C06179A076F1500000A0D088E691A2E08098E691AFE012B0117130711072D0B7241000070731800000A7A08199A72D8000070281900000A2C1209199A72DC000070281900000A16FE012B0117130711072D051613042B5D08199A72E0000070281900000A2C1209199A72E4000070281900000A16FE012B0117130711072D051913042B3008199A72E0000070281900000A2C1209199A72DC000070281900000A16FE012B0117130711072D051813042B0317130408169A281A00000A08179A281A00000A08189A281A00000A09169A281A00000A09179A281A00000A09189A281A00000A110473020000061306DE15130500724100007011056F1B00000A731C00000A7A0011062A00411C0000000000001D0000002901000046010000150000002300000142534A4201000100000000000C00000076322E302E35303732370000000005006C000000D8030000237E0000440400001005000023537472696E67730000000054090000E8000000235553003C0A00001000000023475549440000004C0A00006001000023426C6F620000000000000002000001579FA2210902000000FA25330016000001000000230000000500000009000000060000000A000000010000001C000000040000000D00000001000000050000000100000002000000020000000100000001000000020000000100000000000A0001000000000006005A00530006005F0053000A008A0075000A00010175000600A0018E010600B7018E010600D4018E010600F3018E0106000C028E01060025028E01060040028E0106005B028E010600930274020600A7028E010600D302C0023F00E702000006001603F60206003603F60206005D0353000A008E0373030A00AA0373030600B10374020600C70374020600D20353000600DB0353000600E20353000600E80353000600ED03530006004904F60206009404F6020600A30453000600A90453000600CC0453000600EA04530006000005530000000000010000000000010001000101000017002300050001000100092110003C0023000900060001000000000004040000650009000700130100006404000009000A000700060694000A0056809C000D005680A6000D005680B0000D005680BA000D000100C4000A000100CE000A000100D700250013018004B8005020000000008618DE00280001006820000000008618DE002E000300FC2000000000E609E4003A000A001421000000009608EF003E000A00382100000000C600F80043000A0058220000000096000B0147000A0000000100C40000000200CE00000001001D01000002002E01000003003F01000004005001000005006001000006007001000007008001000001008C0103000D002900DE0057003100DE0057003900DE0057004100DE0057004900DE0057005100DE0057005900DE0057006100DE0057006900DE005C007100DE0057007900DE0061008900DE0067009100DE006C009900DE006C00A100DE007000B100DE007F00C100D7039500E100AA039A002100E4003A002100F4034300E100FE03B100E900DE006C00F100BC04BC000901DE005700E100DE04C500D1000B01CB001101F40443000901DE00D00008000800110008000C001600080010001B000800140020002E002B00EB002E006B0041012E000B00EB002E001300F9002E001B00F9002E002300FF002E0033000E012E003B00F9002E004B00F9002E005B002F012E006300380163007B0076008300B3001600010006000000050085008A008E00A100D60003000100000011014E000000180152000200030003000200040005005022000009000480000001000000240E60450000000000005403000002000000000000000000000001004A000000000002000000000000000000000001006900000000000500040000000000003C4D6F64756C653E0053716C54797065732E646C6C004F7269656E746174696F6E0057726F782E50726F4353686172702E53716C5365727665720053716C436F6F7264696E617465006D73636F726C69620053797374656D00456E756D0056616C7565547970650053797374656D2E446174610053797374656D2E446174612E53716C547970657300494E756C6C61626C650076616C75655F5F004E6F72746845617374004E6F7274685765737400536F7574684561737400536F75746857657374006C6F6E676974756465006C617469747564650069734E756C6C002E63746F72006765745F49734E756C6C006765745F4E756C6C00546F537472696E670053716C537472696E670050617273650049734E756C6C004E756C6C006C6F6E67697475646544656772656573006C6F6E6769747564654D696E75746573006C6F6E6769747564655365636F6E6473006C6174697475646544656772656573006C617469747564654D696E75746573006C617469747564655365636F6E6473006F7269656E746174696F6E00730053797374656D2E5265666C656374696F6E00417373656D626C795469746C6541747472696275746500417373656D626C794465736372697074696F6E41747472696275746500417373656D626C79436F6E66696775726174696F6E41747472696275746500417373656D626C79436F6D70616E7941747472696275746500417373656D626C7950726F6475637441747472696275746500417373656D626C79436F7079726967687441747472696275746500417373656D626C7954726164656D61726B41747472696275746500417373656D626C7943756C747572654174747269627574650053797374656D2E52756E74696D652E496E7465726F70536572766963657300436F6D56697369626C6541747472696275746500417373656D626C7956657273696F6E4174747269627574650053797374656D2E446961676E6F73746963730044656275676761626C6541747472696275746500446562756767696E674D6F6465730053797374656D2E52756E74696D652E436F6D70696C6572536572766963657300436F6D70696C6174696F6E52656C61786174696F6E734174747269627574650052756E74696D65436F6D7061746962696C6974794174747269627574650053716C54797065730053657269616C697A61626C65417474726962757465004D6963726F736F66742E53716C5365727665722E5365727665720053716C55736572446566696E65645479706541747472696275746500466F726D6174005374727563744C61796F7574417474726962757465004C61796F75744B696E64004D61746800416273004F626A65637400496E743332004368617200537472696E67006765745F56616C75650053706C6974003C50726976617465496D706C656D656E746174696F6E44657461696C733E7B37424431464632352D333744392D343841372D424641322D3442303145443436373839427D00436F6D70696C657247656E657261746564417474726962757465005F5F5374617469634172726179496E69745479706553697A653D360024246D6574686F643078363030303030362D310052756E74696D6548656C706572730041727261790052756E74696D654669656C6448616E646C6500496E697469616C697A65417272617900417267756D656E74457863657074696F6E006F705F457175616C69747900457863657074696F6E006765745F4D65737361676500466F726D6174457863657074696F6E00003F7B0030007D00DA027B0031007D0027007B0032007D0022007B0033007D002C007B0034007D00DA027B0035007D0027007B0036007D0022007B0037007D0001809541007200670075006D0065006E0074002000680061007300200061002000770072006F006E0067002000730079006E007400610078002E00200054006800690073002000730079006E007400610078002000690073002000720065007100750069007200650064003A00200033003700DA02340037002700300022004E002C00310032003200DA0232003600270030002200570001034E000003450000035300000357000025FFD17BD937A748BFA24B01ED46789B0008B77A5C561934E0890206080306110804000000000401000000040200000004030000000206020520020108080B200701080808080808110803200002040000110C0320000E060001110C111103280002040800110C042001010E042001010205200101114104200101080320000105200101115508010001000000000005200101115D040701110803070102060702110C110C04000108080600020E0E1D1C0F070C0303080808080808080E021D1C0620011D0E1D030306111408000201127D118081050002020E0E040001080E052002010E0E1407091D0E1D031D0E1D0E110812808D110C021D030D01000853716C547970657300000501000000000E0100094D6963726F736F667400002001001B436F7079726967687420C2A9204D6963726F736F6674203230303900000801000701000000000801000800000000001E01000100540216577261704E6F6E457863657074696F6E5468726F777301000000002F36124B00000000020000005F000000A82F0000A811000052534453D459379721B5EA4AB5D4A87C6FA1D1FD020000004B3A5C50726F432320342E305C636F64655C53514C5365727665725C53716C53616D706C65735C53716C54797065735C6F626A5C44656275675C53716C54797065732E70646200003030000000000000000000004E3000000020000000000000000000000000000000000000000000004030000000000000000000000000000000005F436F72446C6C4D61696E006D73636F7265652E646C6C0000000000FF25002040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100100000001800008000000000000000000000000000000100010000003000008000000000000000000000000000000100000000004800000058400000280300000000000000000000280334000000560053005F00560045005200530049004F004E005F0049004E0046004F0000000000BD04EFFE00000100000001006045240E000001006045240E3F000000000000000400000002000000000000000000000000000000440000000100560061007200460069006C00650049006E0066006F00000000002400040000005400720061006E0073006C006100740069006F006E00000000000000B00488020000010053007400720069006E006700460069006C00650049006E0066006F00000064020000010030003000300030003000340062003000000034000A00010043006F006D00700061006E0079004E0061006D006500000000004D006900630072006F0073006F006600740000003C0009000100460069006C0065004400650073006300720069007000740069006F006E0000000000530071006C00540079007000650073000000000040000F000100460069006C006500560065007200730069006F006E000000000031002E0030002E0033003600320030002E0031003700370036003000000000003C000D00010049006E007400650072006E0061006C004E0061006D0065000000530071006C00540079007000650073002E0064006C006C00000000005C001B0001004C006500670061006C0043006F007000790072006900670068007400000043006F0070007900720069006700680074002000A90020004D006900630072006F0073006F0066007400200032003000300039000000000044000D0001004F0072006900670069006E0061006C00460069006C0065006E0061006D0065000000530071006C00540079007000650073002E0064006C006C0000000000340009000100500072006F0064007500630074004E0061006D00650000000000530071006C00540079007000650073000000000044000F000100500072006F006400750063007400560065007200730069006F006E00000031002E0030002E0033003600320030002E00310037003700360030000000000048000F00010041007300730065006D0062006C0079002000560065007200730069006F006E00000031002E0030002E0033003600320030002E0031003700370036003000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000C000000603000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
WITH PERMISSION_SET = SAFE
GO
ALTER ASSEMBLY [SqlTypes]
ADD FILE FROM 0x4D6963726F736F667420432F432B2B204D534620372E30300D0A1A445300000000020000010000001F00000088000000000000001B000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000880480F1FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF30F97FFEFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF0BCA3101380000000010000000100000000000000C00FFFF0400000003800000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000F862513FC607D311905300C04FA302A1C4454B99E9E6D211903F00C04FA302A10B9D865A1166D311BD2A0000F80849BD60A66E40CF64824CB6F042D48172A7991000000000000000E08BA88722E972AFFDA90A8450642C91080000000B0000000C0000000D0000000E0000000F0000001000000011000000120000001400000013000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002903000000000000290300000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000BCA310138000000001000000010000000000000FFFFFFFF040000000380000000000000FFFFFFFF00000000FFFFFFFF00000000FFFFFFFF000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000F862513FC607D311905300C04FA302A1C4454B99E9E6D211903F00C04FA302A10B9D865A1166D311BD2A0000F80849BD60A66E40CF64824CB6F042D48172A7991000000000000000E08BA88722E972AFFDA90A8450642C91000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001BE2300180000000FD692537D170CA01020000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000200000001000000020000000000000043000000280000001BE23001740A440558000000010000004200000043000000650000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000FEEFFEEF0100000084000000004B3A5C50726F432320342E305C636F64655C53514C5365727665725C53716C53616D706C65735C53716C54797065735C53716C436F6F7264696E6174652E637300006B3A5C70726F632320342E305C636F64655C73716C7365727665725C73716C73616D706C65735C73716C74797065735C73716C636F6F7264696E6174652E63730004000000420000000100000043000000000000000300000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001BE2300180000000F4F16DD5D070CA01010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000200000001000000020000000000000043000000280000001BE23001740A440558000000010000004200000043000000650000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000040000002E002A1100000000D000000000000000170000000000000000000000010000060000000001000000002E63746F7200001600031104000000940000001700000000000000010000000A0024115553797374656D001A0024115553797374656D2E446174612E53716C54797065730000001E002411554D6963726F736F66742E53716C5365727665722E536572766572000200060036000404C93FEAC6B359D649BC250902BBABB460000000004D00440032000000040100000400000014000000040000000000000003000000020006002E002A11000000007001000000000000870000000000000000000000020000061700000001000000002E63746F72000016000311D40000003C0100008700000017000000010000001E00201100000000010000110000000000000400435324342430303030000000020006002E000404C93FEAC6B359D649BC250902BBABB460000000004D0044003200000004010000040100000C000000010000060200060032002A110000000014020000000000000C0000000000000000000000030000069E00000001000000006765745F49734E756C6C001600031174010000E00100000C0000009E000000010000001E00201100000000020000110000000000000400435324312430303030000000020006002E000404C93FEAC6B359D649BC250902BBABB460000000004D0044003200000004010000040100000C000000010000060200060032002A1100000000DC0200000000000017000000000000000000000004000006AA00000001000000006765745F4E756C6C0000001600031118020000A802000017000000AA000000010000001E0020110100000003000011000000000000040043532431243030303000000022002011000000000300001100000000000000003C3E675F5F696E69744C6F63616C3000020006002E000404C93FEAC6B359D649BC250902BBABB460000000004D0044003200000004010000040100000C000000010000060200060032002A11000000000C0500000000000009010000000000000000000005000006C10000000100000000546F537472696E6700000016000311E0020000D804000009010000C1000000010000001E002011090000000400001100000000000004004353243124303030300000001E0020110A0000000400001100000000000004004353243424303030310000001E0020110B0000000400001100000000000004004353243024303030320000001E002011000000000400001100000000000000006E6F727468536F75746800001E0020110100000004000011000000000000000065617374576573740000000026002011020000000400001100000000000000006C6F6E6769747564654465677265657300000000260020110300000004000011000000000000000072656D61696E696E675365636F6E64730000000026002011040000000400001100000000000000006C6F6E6769747564654D696E757465730000000026002011050000000400001100000000000000006C6F6E6769747564655365636F6E64730000000022002011060000000400001100000000000000006C61746974756465446567726565730022002011070000000400001100000000000000006C617469747564654D696E757465730022002011080000000400001100000000000000006C617469747564655365636F6E647300020006002E000404C93FEAC6B359D649BC250902BBABB460000000004D0044003200000004010000040100000C00000001000006020006002E002A1100000000E4060000000000005F010000000000000000000006000006CA0100000100000000506172736500001600031110050000B00600005F010000CA010000010000001E002011060000000500001100000000000004004353243124303030300000001E002011070000000500001100000000000004004353243424303030310000001E0020110800000005000011000000000000040043532430243030303200000016000311400500007806000029010000E7010000010000001E00201100000000050000110000000000000000636F6F7264696E61746573001E00201101000000050000110000000000000000736570617261746F7273000022002011020000000500001100000000000000006C6F6E67697475646556616C7300000022002011030000000500001100000000000000006C6174697475646556616C73000000001E002011040000000500001100000000000000006F7269656E746174696F6E00020006001600031140050000AC06000013000000120300000100000016002011050000000500001100000000000000006578000002000600020006002E000404C93FEAC6B359D649BC250902BBABB460000000004D0044003200000004010000040121000C0000000100000602000600F2000000540000000000000001000100170000000000000005000000480000000000000019000080010000001A000080080000001B0000800F0000001C000080160000001D00008009000A000D001C000D0028000D00260009000A00F2000000C0000000170000000100010087000000000000000E000000B40000000000000023000080010000002400008008000000250000811C00000027000081330000002900008036000000EEEFFE804C0000002C000080590000002D000080660000002E0000806800000030000080750000003100008077000000330000808400000034000080860000003600008009000A000D001C000D0024000D0023000D0021000000000015002C0015002A0015001B0015002C0015001B0015002A0015001B0009000A00F20000003C0000009E000000010001000C000000000000000300000030000000000000003B000080010000003C0000800A0000003D0000800D000E0011001F000D000E00F20000003C000000AA00000001000100170000000000000003000000300000000000000043000080010000004400008015000000450000800D000E0011003C000D000E00F2000000D8000000C100000001000100090100000000000010000000CC000000000000004B000080010000004C0000800C000000EEEFFE80100000004D000080180000004F000080280000005000008038000000520000804A000000530000805C00000054000080620000005500008068000000570000807B000000580000808D00000059000080930000005A000080990000005C000083060100006000008009000A000D001D000000000011001D000D0039000D0036000D003F000D003F000D003A000D003A000D003D000D003A000D0039000D0039000D002E0009000A00F20000008C010000CA010000010001005F010000000000001F00000080010000000000006500008001000000660000800D000000EEEFFE8011000000670000801D0000006A0000801E0000006B0000803B0000006C0000804D0000006D000080570000006E000080610000007000008072000000EEEFFE8076000000710000828100000076000080A5000000EEEFFE80A900000077000080AC000000EEEFFE80AE00000078000080D2000000EEEFFE80D600000079000080D9000000EEEFFE80DB0000007A000080FF000000EEEFFE80030100007B00008006010000EEEFFE80080100007D0000800B0100007F0000844601000085000080480100008600008049010000870000835B010000EEEFFE805C0100008C00008009000A000D001A000000000011002B000D000E0011003B001100390011004B0011004A0011004B0000000000150050001100470000000000150039000000000016004C0000000000150039000000000016004C0000000000150039000000000015003900110040000D0027000D000E00110023000000000009000A00F40000000800000001000000000000003000000000000000140000002C0000004000000058000000740000008C000000A4000000BC000000D4000000EC00000000010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000FFFFFFFF1A092FF16000000030020000410000000100000075000000010000002D000000010000000100000001000000BD00000001000000150000000100000001010000010000008D00000001000000A500000001000000D5000000010000005900000001000000ED00000001000000010000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000000020000000000000000010000000000000000000000000000000000000000000000000000000000000001000200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000001000400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000C00000018000000300000003C0000004800000054000000600000006C00000078000000840000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000012002511000000000400000001002E63746F72001600291100000000040000000100303630303030303100001200251100000000D400000001002E63746F72001600291100000000D40000000100303630303030303200001A002511000000007401000001006765745F49734E756C6C0000000016002911000000007401000001003036303030303033000016002511000000001802000001006765745F4E756C6C00001600291100000000180200000100303630303030303400001600251100000000E00200000100546F537472696E6700001600291100000000E002000001003036303030303035000012002511000000001005000001005061727365001600291100000000100500000100303630303030303600000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000FFFFFFFF1A092FF100000000000000001200251100000000D400000001002E63746F72001600291100000000D40000000100303630303030303200001A002511000000007401000001006765745F49734E756C6C0000000016002911000000007401000001003036303030303033000016002511000000001802000001006765745F4E756C6C00001600291100000000180200000100303630303030303400001600251100000000E00200000100546F537472696E6700001600291100000000E0020000010030363030303030350000120025110000000010050000010050617273650016002911000000001005000001003036303030303036000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000FFFFFFFF77093101020000000900008A0A000B520B00010070000000AC0000002C00000050000000000000000000000016000000190000000000EEC00000000000000000FFFF000000000000FFFFFFFF00000000FFFF0000000000000000000000000800E806000000000000300400000100000070470707000000000000000057726F782E50726F4353686172702E53716C5365727665722E53716C436F6F7264696E617465003031453446423543002DBA2EF10100000000000000170000000000000000000000000000000000000001000000170000008700000000000000000000000000000000000000010000009E0000000C0000000000000000000000000000000000000001000000AA000000170000000000000000000000000000000000000001000000C1000000090100000000000000000000000000000000000001000000CA0100005F01000000000000000000000000000000000000020002000D01000000000100FFFFFFFF00000000290300000802000000000000FFFFFFFF00000000FFFFFFFF0100010000000100000000004B3A5C50726F432320342E305C636F64655C53514C5365727665725C53716C53616D706C65735C53716C54797065735C53716C436F6F7264696E6174652E637300000000FEEFFEEF010000000100000000010000000000000000000000FFFFFFFFFFFFFFFFFFFF0D00FFFFFFFFFFFFFFFFFFFF000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000800000084000000C600000038000000FFFFFFFF00000000A80000008000000058000000040000000300000006000000090000000A00000007000000626C6F636B002F7372632F66696C65732F6B3A5C70726F632320342E305C636F64655C73716C7365727665725C73716C73616D706C65735C73716C74797065735C73716C636F6F7264696E6174652E6373000400000006000000010000001B00000000000000220000000700000011000000060000000A0000000500000000000000040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001700000018000000C6000000380000000702000000000000A80000008000000058000000280000004C0B0000A00200002C000000180100000300000017000000060000001500000016000000090000000A00000007000000080000000B0000000C0000000D0000000E0000000F00000010000000110000001200000014000000130000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000942E31018B35124B02000000D459379721B5EA4AB5D4A87C6FA1D1FD6E0000002F4C696E6B496E666F002F6E616D6573002F7372632F686561646572626C6F636B002F7372632F66696C65732F6B3A5C70726F632320342E305C636F64655C73716C7365727665725C73716C73616D706C65735C73716C74797065735C73716C636F6F7264696E6174652E6373000400000006000000010000001B00000000000000220000000700000011000000060000000A0000000500000000000000040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000E0000003C000000C6000000380000000702000000000000A800000080000000580000004C0B0000A00200002C00000018010000FFFFFFFF2800000017000000190000000600000015000000160000000900000008000000040000000B0000000C0000000D0000000E0000000F000000100000001100000012000000140000001300000005000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001A00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
AS N'bin\Debug\SqlTypes.pdb'
GO
ALTER ASSEMBLY [SqlTypes]
ADD FILE FROM 0xEFBBBF7573696E672053797374656D2E5265666C656374696F6E3B0D0A7573696E672053797374656D2E52756E74696D652E436F6D70696C657253657276696365733B0D0A7573696E672053797374656D2E52756E74696D652E496E7465726F7053657276696365733B0D0A7573696E672053797374656D2E446174612E53716C3B0D0A0D0A2F2F2047656E6572616C20496E666F726D6174696F6E2061626F757420616E20617373656D626C7920697320636F6E74726F6C6C6564207468726F7567682074686520666F6C6C6F77696E670D0A2F2F20736574206F6620617474726962757465732E204368616E6765207468657365206174747269627574652076616C75657320746F206D6F646966792074686520696E666F726D6174696F6E0D0A2F2F206173736F636961746564207769746820616E20617373656D626C792E0D0A5B617373656D626C793A20417373656D626C795469746C65282253716C547970657322295D0D0A5B617373656D626C793A20417373656D626C794465736372697074696F6E282222295D0D0A5B617373656D626C793A20417373656D626C79436F6E66696775726174696F6E282222295D0D0A5B617373656D626C793A20417373656D626C79436F6D70616E7928224D6963726F736F667422295D0D0A5B617373656D626C793A20417373656D626C7950726F64756374282253716C547970657322295D0D0A5B617373656D626C793A20417373656D626C79436F707972696768742822436F7079726967687420C2A9204D6963726F736F6674203230303922295D0D0A5B617373656D626C793A20417373656D626C7954726164656D61726B282222295D0D0A5B617373656D626C793A20417373656D626C7943756C74757265282222295D0D0A0D0A5B617373656D626C793A20436F6D56697369626C652866616C7365295D0D0A0D0A2F2F0D0A2F2F2056657273696F6E20696E666F726D6174696F6E20666F7220616E20617373656D626C7920636F6E7369737473206F662074686520666F6C6C6F77696E6720666F75722076616C7565733A0D0A2F2F0D0A2F2F2020202020204D616A6F722056657273696F6E0D0A2F2F2020202020204D696E6F722056657273696F6E0D0A2F2F2020202020204275696C64204E756D6265720D0A2F2F2020202020205265766973696F6E0D0A2F2F0D0A2F2F20596F752063616E207370656369667920616C6C207468652076616C756573206F7220796F752063616E2064656661756C7420746865205265766973696F6E20616E64204275696C64204E756D626572730D0A2F2F206279207573696E672074686520272A272061732073686F776E2062656C6F773A0D0A5B617373656D626C793A20417373656D626C7956657273696F6E2822312E302E2A22295D0D0A0D0A
AS N'Properties\AssemblyInfo.cs'
GO
ALTER ASSEMBLY [SqlTypes]
ADD FILE FROM 0xEFBBBF7573696E672053797374656D3B0D0A7573696E672053797374656D2E446174612E53716C54797065733B0D0A7573696E67204D6963726F736F66742E53716C5365727665722E5365727665723B0D0A0D0A6E616D6573706163652057726F782E50726F4353686172702E53716C5365727665720D0A7B0D0A202020207075626C696320656E756D204F7269656E746174696F6E0D0A202020207B0D0A20202020202020204E6F727468456173742C0D0A20202020202020204E6F727468576573742C0D0A2020202020202020536F757468456173742C0D0A2020202020202020536F757468576573740D0A202020207D0D0A0D0A0D0A202020205B53657269616C697A61626C655D0D0A202020205B53716C55736572446566696E65645479706528466F726D61742E4E6174697665295D0D0A202020207075626C6963207374727563742053716C436F6F7264696E617465203A20494E756C6C61626C650D0A202020207B0D0A20202020202020207072697661746520696E74206C6F6E6769747564653B0D0A20202020202020207072697661746520696E74206C617469747564653B0D0A20202020202020207072697661746520626F6F6C2069734E756C6C3B0D0A0D0A20202020202020207075626C69632053716C436F6F7264696E61746528696E74206C6F6E6769747564652C20696E74206C61746974756465290D0A20202020202020207B0D0A20202020202020202020202069734E756C6C203D2066616C73653B0D0A202020202020202020202020746869732E6C6F6E676974756465203D206C6F6E6769747564653B0D0A202020202020202020202020746869732E6C61746974756465203D206C617469747564653B0D0A20202020202020207D0D0A0D0A0D0A20202020202020207075626C69632053716C436F6F7264696E61746528696E74206C6F6E676974756465446567726565732C20696E74206C6F6E6769747564654D696E757465732C0D0A2020202020202020202020202020696E74206C6F6E6769747564655365636F6E64732C20696E74206C61746974756465446567726565732C20696E74206C617469747564654D696E757465732C0D0A2020202020202020202020202020696E74206C617469747564655365636F6E64732C204F7269656E746174696F6E206F7269656E746174696F6E290D0A20202020202020207B0D0A20202020202020202020202069734E756C6C203D2066616C73653B0D0A202020202020202020202020746869732E6C6F6E676974756465203D206C6F6E6769747564655365636F6E6473202B203630202A206C6F6E6769747564654D696E75746573202B2033363030202A0D0A2020202020202020202020202020202020206C6F6E676974756465446567726565733B0D0A202020202020202020202020746869732E6C61746974756465203D206C617469747564655365636F6E6473202B203630202A206C617469747564654D696E75746573202B2033363030202A0D0A2020202020202020202020202020202020206C61746974756465446567726565733B0D0A20202020202020202020202073776974636820286F7269656E746174696F6E290D0A2020202020202020202020207B0D0A2020202020202020202020202020202063617365204F7269656E746174696F6E2E536F757468576573743A0D0A20202020202020202020202020202020202020206C6F6E676974756465203D202D6C6F6E6769747564653B0D0A20202020202020202020202020202020202020206C61746974756465203D202D6C617469747564653B0D0A2020202020202020202020202020202020202020627265616B3B0D0A2020202020202020202020202020202063617365204F7269656E746174696F6E2E536F757468456173743A0D0A20202020202020202020202020202020202020206C6F6E676974756465203D202D6C6F6E6769747564653B0D0A2020202020202020202020202020202020202020627265616B3B0D0A2020202020202020202020202020202063617365204F7269656E746174696F6E2E4E6F727468576573743A0D0A20202020202020202020202020202020202020206C61746974756465203D202D6C617469747564653B0D0A2020202020202020202020202020202020202020627265616B3B0D0A2020202020202020202020207D0D0A20202020202020207D0D0A0D0A20202020202020207075626C696320626F6F6C2049734E756C6C0D0A20202020202020207B0D0A2020202020202020202020206765740D0A2020202020202020202020207B0D0A2020202020202020202020202020202072657475726E2069734E756C6C3B0D0A2020202020202020202020207D0D0A20202020202020207D0D0A0D0A20202020202020207075626C6963207374617469632053716C436F6F7264696E617465204E756C6C0D0A20202020202020207B0D0A2020202020202020202020206765740D0A2020202020202020202020207B0D0A2020202020202020202020202020202072657475726E206E65772053716C436F6F7264696E617465207B2069734E756C6C203D2074727565207D3B0D0A2020202020202020202020207D0D0A20202020202020207D0D0A0D0A0D0A0D0A20202020202020207075626C6963206F7665727269646520737472696E6720546F537472696E6728290D0A20202020202020207B0D0A20202020202020202020202069662028746869732E69734E756C6C290D0A2020202020202020202020202020202072657475726E206E756C6C3B0D0A0D0A20202020202020202020202063686172206E6F727468536F757468203D206C6F6E676974756465203E2030203F20274E27203A202753273B0D0A20202020202020202020202063686172206561737457657374203D206C61746974756465203E2030203F20274527203A202757273B0D0A0D0A202020202020202020202020696E74206C6F6E67697475646544656772656573203D204D6174682E416273286C6F6E67697475646529202F20333630303B0D0A202020202020202020202020696E742072656D61696E696E675365636F6E6473203D204D6174682E416273286C6F6E67697475646529202520333630303B0D0A202020202020202020202020696E74206C6F6E6769747564654D696E75746573203D2072656D61696E696E675365636F6E6473202F2036303B0D0A202020202020202020202020696E74206C6F6E6769747564655365636F6E6473203D2072656D61696E696E675365636F6E647320252036303B0D0A0D0A202020202020202020202020696E74206C6174697475646544656772656573203D204D6174682E416273286C6174697475646529202F20333630303B0D0A20202020202020202020202072656D61696E696E675365636F6E6473203D204D6174682E416273286C6174697475646529202520333630303B0D0A202020202020202020202020696E74206C617469747564654D696E75746573203D2072656D61696E696E675365636F6E6473202F2036303B0D0A202020202020202020202020696E74206C617469747564655365636F6E6473203D2072656D61696E696E675365636F6E647320252036303B0D0A0D0A20202020202020202020202072657475726E20537472696E672E466F726D617428227B307DCB9A7B317D277B327D5C227B337D2C7B347DCB9A7B357D277B367D5C227B377D222C0D0A2020202020202020202020202020202020206C6F6E676974756465446567726565732C206C6F6E6769747564654D696E757465732C206C6F6E6769747564655365636F6E64732C0D0A2020202020202020202020202020202020206E6F727468536F7574682C206C61746974756465446567726565732C206C617469747564654D696E757465732C0D0A2020202020202020202020202020202020206C617469747564655365636F6E64732C206561737457657374293B0D0A20202020202020207D0D0A0D0A0D0A0D0A20202020202020207075626C6963207374617469632053716C436F6F7264696E6174652050617273652853716C537472696E672073290D0A20202020202020207B0D0A20202020202020202020202069662028732E49734E756C6C290D0A2020202020202020202020202020202072657475726E2053716C436F6F7264696E6174652E4E756C6C3B0D0A0D0A2020202020202020202020207472790D0A2020202020202020202020207B0D0A20202020202020202020202020202020737472696E675B5D20636F6F7264696E61746573203D20732E56616C75652E53706C697428272C27293B0D0A20202020202020202020202020202020636861725B5D20736570617261746F7273203D207B2027C2B0272C20275C27272C20275C2227207D3B0D0A20202020202020202020202020202020737472696E675B5D206C6F6E67697475646556616C73203D20636F6F7264696E617465735B305D2E53706C697428736570617261746F7273293B0D0A20202020202020202020202020202020737472696E675B5D206C6174697475646556616C73203D20636F6F7264696E617465735B315D2E53706C697428736570617261746F7273293B0D0A0D0A20202020202020202020202020202020696620286C6F6E67697475646556616C732E4C656E67746820213D2034202626206C6174697475646556616C732E4C656E67746820213D2034290D0A20202020202020202020202020202020202020207468726F77206E657720417267756D656E74457863657074696F6E280D0A202020202020202020202020202020202020202020202020202022417267756D656E742068617320612077726F6E672073796E7461782E2022202B0D0A202020202020202020202020202020202020202020202020202022546869732073796E7461782069732072657175697265643A203337CB9A34375C27305C224E2C313232CB9A32365C27305C225722293B0D0A0D0A202020202020202020202020202020204F7269656E746174696F6E206F7269656E746174696F6E3B0D0A20202020202020202020202020202020696620286C6F6E67697475646556616C735B335D203D3D20224E22202626206C6174697475646556616C735B335D203D3D20224522290D0A20202020202020202020202020202020202020206F7269656E746174696F6E203D204F7269656E746174696F6E2E4E6F727468456173743B0D0A20202020202020202020202020202020656C736520696620286C6F6E67697475646556616C735B335D203D3D20225322202626206C6174697475646556616C735B335D203D3D20225722290D0A20202020202020202020202020202020202020206F7269656E746174696F6E203D204F7269656E746174696F6E2E536F757468576573743B0D0A20202020202020202020202020202020656C736520696620286C6F6E67697475646556616C735B335D203D3D20225322202626206C6174697475646556616C735B335D203D3D20224522290D0A20202020202020202020202020202020202020206F7269656E746174696F6E203D204F7269656E746174696F6E2E536F757468456173743B0D0A20202020202020202020202020202020656C73650D0A20202020202020202020202020202020202020206F7269656E746174696F6E203D204F7269656E746174696F6E2E4E6F727468576573743B0D0A0D0A2020202020202020202020202020202072657475726E206E65772053716C436F6F7264696E617465280D0A20202020202020202020202020202020202020202020696E742E5061727365286C6F6E67697475646556616C735B305D292C20696E742E5061727365286C6F6E67697475646556616C735B315D292C0D0A20202020202020202020202020202020202020202020696E742E5061727365286C6F6E67697475646556616C735B325D292C0D0A20202020202020202020202020202020202020202020696E742E5061727365286C6174697475646556616C735B305D292C20696E742E5061727365286C6174697475646556616C735B315D292C0D0A20202020202020202020202020202020202020202020696E742E5061727365286C6174697475646556616C735B325D292C206F7269656E746174696F6E293B0D0A2020202020202020202020207D0D0A20202020202020202020202063617463682028466F726D6174457863657074696F6E206578290D0A2020202020202020202020207B0D0A202020202020202020202020202020207468726F77206E657720417267756D656E74457863657074696F6E280D0A2020202020202020202020202020202020202020202022417267756D656E742068617320612077726F6E672073796E7461782E2022202B0D0A2020202020202020202020202020202020202020202022546869732073796E7461782069732072657175697265643A203337CB9A34375C27305C224E2C313232CB9A32365C27305C2257222C0D0A2020202020202020202020202020202020202020202065782E4D657373616765293B0D0A2020202020202020202020207D0D0A20202020202020207D0D0A202020207D0D0A7D
AS N'SqlCoordinate.cs'
GO
EXEC sys.sp_addextendedproperty @name=N'SqlAssemblyProjectRoot', @value=N'K:\ProC# 4.0\code\SQLServer\SqlSamples\SqlTypes' , @level0type=N'ASSEMBLY',@level0name=N'SqlTypes'
GO
/****** Object:  UserDefinedType [dbo].[SqlCoordinate]    Script Date: 11/29/2009 11:08:29 ******/
CREATE TYPE [dbo].[SqlCoordinate]
EXTERNAL NAME [SqlTypes].[Wrox.ProCSharp.SqlServer.SqlCoordinate]
GO
EXEC sys.sp_addextendedproperty @name=N'SqlAssemblyFile', @value=N'SqlCoordinate.cs' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TYPE',@level1name=N'SqlCoordinate'
GO
EXEC sys.sp_addextendedproperty @name=N'SqlAssemblyFileLine', @value=N'100' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TYPE',@level1name=N'SqlCoordinate'
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 11/29/2009 11:08:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Location] [dbo].[SqlCoordinate] NOT NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cities] ON
INSERT [dbo].[Cities] ([Id], [Name], [Location]) VALUES (1, N'Vienna', 0x8002C1788000E5B000)
INSERT [dbo].[Cities] ([Id], [Name], [Location]) VALUES (2, N'Paris', 0x8002AF30800020D000)
INSERT [dbo].[Cities] ([Id], [Name], [Location]) VALUES (3, N'Seattle', 0x80029D607FF947B000)
SET IDENTITY_INSERT [dbo].[Cities] OFF
