<?xml version="1.0"?>
<configuration>
    <startup> 
       <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>             
    </startup>

  <system.diagnostics>
    <sources>
      <source name="Wrox.ProCSharp.Diagnostics" switchName="MySourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="etwListener"/>
          <add name="xmlListener"/>
          <add name="delimitedListener"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="etwListener" type="System.Diagnostics.Eventing.EventProviderTraceListener, System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="{8ADA630A-F1CD-48BD-89F7-02CE2E7B9625}"/>
      <add name="xmlListener" type="System.Diagnostics.XmlWriterTraceListener" traceOutputOptions="LogicalOperationStack, Callstack" initializeData="c:/logs/mytrace.xml">
        <!--<filter type="System.Diagnostics.SourceFilter" initializeData="Wrox.ProCSharp.Instrumentation"/>-->
      </add>
      <add name="delimitedListener" delimiter=":" type="System.Diagnostics.DelimitedListTraceListener" traceOutputOptions="DateTime, ProcessId, LogicalOperationStack" initializeData="c:/logs/mytrace.txt">
        <!--<filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning"/>-->
      </add>
    </sharedListeners>
    <trace autoflush="true"/>


    <assert assertuienabled="false"/>
    <switches>
      <add name="Wrox.ProCSharp.Instrumentation" value="Verbose"/>
      <add name="MySourceSwitch" value="Verbose, ActivityTracing"/>
    </switches>
  </system.diagnostics>
</configuration>
