<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wrox.ProCSharp.DataServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Wrox.ProCSharp.DataServices.Properties.Settings>
            <setting name="RestaurantServiceURL" serializeAs="String">
                <value>http://localhost:13617/RestaurantDataService.svc</value>
            </setting>
        </Wrox.ProCSharp.DataServices.Properties.Settings>
    </applicationSettings>
</configuration>