<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application name="HelloServer">
      <service>
        <activated type="Wrox.ProCSharp.Remoting.Hello, RemoteHello" />
      </service>
      <channels>
        <channel ref="http" port="6788"
                 displayName="HTTP Channel (HelloServer)" />
        <channel ref="tcp" port="6789"
           displayName="TCP Channel (HelloServer)" />
        <channel ref="ipc" portName="myIPCPort"
                 displayName="IPC Channel (HelloServer)" />
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>
