<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="SiteTitle" value="Professional C# Demo Site"/>
	<add key="MRBService.MRBService" value="http://localhost:53830/PCSWebService2/MRBService.asmx"/>
	</appSettings>
	<location path="StyleSheet.css">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<roleManager enabled="true"/>
		<authorization>
			<deny users="?"/>
		</authorization>
		<siteMap defaultProvider="CustomProvider">
			<providers>
				<add name="CustomProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="true"/>
			</providers>
		</siteMap>
		<authentication mode="Forms"/>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
