USE [Formula1]
GO
/****** Object:  User [Verena]    Script Date: 12/07/2009 22:02:38 ******/
CREATE USER [Verena] FOR LOGIN [BUILTIN\Administrators]
GO
/****** Object:  User [chris]    Script Date: 12/07/2009 22:02:38 ******/
CREATE USER [chris] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Teams]    Script Date: 12/07/2009 22:02:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Teams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Teams] ON
INSERT [dbo].[Teams] ([Id], [Name]) VALUES (1, N'Alfa Romeo')
INSERT [dbo].[Teams] ([Id], [Name]) VALUES (2, N'Ferrari')
INSERT [dbo].[Teams] ([Id], [Name]) VALUES (3, N'Lago')
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[Teams] OFF
/****** Object:  SqlAssembly [SQLServerProject]    Script Date: 12/07/2009 22:02:45 ******/
CREATE ASSEMBLY [SQLServerProject]
AUTHORIZATION [dbo]
FROM 0x4D5A90000300000004000000FFFF0000B800000000000000400000000000000000000000000000000000000000000000000000000000000000000000800000000E1FBA0E00B409CD21B8014CCD21546869732070726F6772616D2063616E6E6F742062652072756E20696E20444F53206D6F64652E0D0D0A2400000000000000504500004C0103002D6665460000000000000000E0000E210B010800000C00000006000000000000BE2B00000020000000400000000040000020000000020000040000000000000004000000000000000080000000020000000000000300000400001000001000000000100000100000000000001000000000000000000000006C2B00004F000000004000007803000000000000000000000000000000000000006000000C000000D42A00001C0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000080000000000000000000000082000004800000000000000000000002E74657874000000C40B000000200000000C000000020000000000000000000000000000200000602E72737263000000780300000040000000040000000E0000000000000000000000000000400000402E72656C6F6300000C0000000060000000020000001200000000000000000000000000004000004200000000000000000000000000000000A02B00000000000048000000020005006C210000680900000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000133002004A00000001000011007201000070730F00000A0A066F1000000A00731100000A0B07066F1200000A000772310000706F1300000A00076F1400000A0C281500000A0D09086F1600000A00066F1700000A002A1E02281800000A2A0000133001000B000000020000110072990000700A2B00062A00133001000C0000000300001100027B020000040A2B00062A133002001700000004000011001200FE15030000021200177D02000004060B2B00072A00133002002500000005000011000F00281C00000A16FE010C082D0828050000060B2B0C1200FE1503000002060B2B00072A000000133001000B0000000200001100729B0000700A2B00062A0013300200100000000600001100729B000070731D00000A0A2B00062A42534A4201000100000000000C00000076322E302E35303732370000000005006C0000002C030000237E0000980300000C04000023537472696E677300000000A4070000A8000000235553004C0800001000000023475549440000005C0800000C01000023426C6F6200000000000000020000015717A2010900000000FA013300160000010000001F00000003000000020000000800000001000000010000001D0000000D00000006000000010000000200000002000000010000000200000000000A00010000000000060046003F0006004D003F000A00780063000A00AF0063000600FB00E90006001201E90006002F01E90006004E01E90006006701E90006008001E90006009B01E9000600B601E9000600EE01CF0106000202E90006002E021B023F00420200000600710251020600910251020A00DB02C0020A000703F1020A00280315030A003A03F1020A00540315030A006E03F1020A008A03C0020A009503C0020600B1033F000A00C703C0020A00E303C0020600EA03CF0106000004CF010000000001000000000001000100010010001F00000005000100010009211000300000000900010003000600CF002B000100D4002E00502000000000960082000A000100A6200000000086188C000E000100B02000000000C600920012000100C82000000000E6099B0016000100E020000000009608A6001A0001000421000000009600B9001F0001003821000000008600BF00120002005021000000009600C7002600020000000100E70003000D0029008C003A0031008C003A0039008C003A0041008C003A0049008C003A0051008C003A0059008C003A0061008C003A0069008C003F0071008C003A0079008C00440089008C004A0091008C000E0099008C000E00A1008C003A00A90035030E00B1008C000E00B10045035400B9005E033A00B1007C035A00C9009D035F00D100A6036400A900AB030E0009008C000E00D9008C000E00E1008C007500F1008C00840021009B00160021008C003A00200073004F002E002B00A6002E000B00A6002E001300BC002E001B00BC002E002300BC002E004B00BC002E006B00EC002E003B00BC002E003300C2002E005B00DA002E006300E3006300D3007B006A008A008E0092009900A100030001000000DB0031000000E20035000200040003000200050005000480000001000000980A5E66000000000000AF020000020000000000000000000000010036000000000002000000000000000000000001005700000000000000003C4D6F64756C653E0053514C53657276657250726F6A6563742E646C6C0053746F72656450726F63656475726573005479706531006D73636F726C69620053797374656D004F626A6563740056616C7565547970650053797374656D2E446174610053797374656D2E446174612E53716C547970657300494E756C6C61626C6500476574526163657273002E63746F7200546F537472696E67006765745F49734E756C6C006765745F4E756C6C0053716C537472696E67005061727365004D6574686F6431004D6574686F64320076617231006D5F4E756C6C0049734E756C6C004E756C6C00730053797374656D2E5265666C656374696F6E00417373656D626C795469746C6541747472696275746500417373656D626C794465736372697074696F6E41747472696275746500417373656D626C79436F6E66696775726174696F6E41747472696275746500417373656D626C79436F6D70616E7941747472696275746500417373656D626C7950726F6475637441747472696275746500417373656D626C79436F7079726967687441747472696275746500417373656D626C7954726164656D61726B41747472696275746500417373656D626C7943756C747572654174747269627574650053797374656D2E52756E74696D652E496E7465726F70536572766963657300436F6D56697369626C6541747472696275746500417373656D626C7956657273696F6E4174747269627574650053797374656D2E446961676E6F73746963730044656275676761626C6541747472696275746500446562756767696E674D6F6465730053797374656D2E52756E74696D652E436F6D70696C6572536572766963657300436F6D70696C6174696F6E52656C61786174696F6E734174747269627574650052756E74696D65436F6D7061746962696C6974794174747269627574650053514C53657276657250726F6A656374004D6963726F736F66742E53716C5365727665722E5365727665720053716C50726F6365647572654174747269627574650053797374656D2E446174612E53716C436C69656E740053716C436F6E6E656374696F6E0053797374656D2E446174612E436F6D6D6F6E004462436F6E6E656374696F6E004F70656E0053716C436F6D6D616E64007365745F436F6E6E656374696F6E004462436F6D6D616E64007365745F436F6D6D616E64546578740053716C4461746152656164657200457865637574655265616465720053716C436F6E746578740053716C50697065006765745F506970650053656E6400436C6F73650053657269616C697A61626C654174747269627574650053716C55736572446566696E65645479706541747472696275746500466F726D6174005374727563744C61796F7574417474726962757465004C61796F75744B696E640000002F43006F006E007400650078007400200043006F006E006E0065006300740069006F006E003D0074007200750065000067530045004C004500430054002000490064002C002000460069007200730074006E0061006D0065002C0020004C006100730074006E0061006D0065002C00200043006F0075006E007400720079002000460052004F004D0020005200610063006500720073000001000B480065006C006C006F000000FD57003E45E5DB44BCC684722A1375220008B77A5C561934E08903000001032000010320000E03200002040000110C060001110C1111040000111102060802060203280002040800110C042001010E042001010205200101114104200101080401000000052001011251042000126104000012690520010112610A0704125112591261126905200101117508010001000000000005200101117D0307010E03070102060702110C110C070703110C110C0204070111111501001053514C53657276657250726F6A656374000005010000000017010012436F7079726967687420C2A920203230303700000801000701000000000801000800000000001E01000100540216577261704E6F6E457863657074696F6E5468726F77730100000000002D66654600000000020000007B000000F02A0000F00C000052534453F99D106BEB9870449CFB215E5D44AD21020000006B3A5C53616D706C65735C54726976616469732042495320323030375C56697375616C53747564696F53616D706C654F6E655C53514C53657276657250726F6A6563745C6F626A5C44656275675C53514C53657276657250726F6A6563742E7064620000942B00000000000000000000AE2B0000002000000000000000000000000000000000000000000000A02B0000000000000000000000005F436F72446C6C4D61696E006D73636F7265652E646C6C0000000000FF250020400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100100000001800008000000000000000000000000000000100010000003000008000000000000000000000000000000100000000004800000058400000200300000000000000000000200334000000560053005F00560045005200530049004F004E005F0049004E0046004F0000000000BD04EFFE00000100000001005E66980A000001005E66980A3F000000000000000400000002000000000000000000000000000000440000000100560061007200460069006C00650049006E0066006F00000000002400040000005400720061006E0073006C006100740069006F006E00000000000000B00480020000010053007400720069006E006700460069006C00650049006E0066006F0000005C02000001003000300030003000300034006200300000004C0011000100460069006C0065004400650073006300720069007000740069006F006E0000000000530051004C00530065007200760065007200500072006F006A006500630074000000000040000F000100460069006C006500560065007200730069006F006E000000000031002E0030002E0032003700310032002E0032003600320030003600000000004C001500010049006E007400650072006E0061006C004E0061006D0065000000530051004C00530065007200760065007200500072006F006A006500630074002E0064006C006C00000000004800120001004C006500670061006C0043006F007000790072006900670068007400000043006F0070007900720069006700680074002000A90020002000320030003000370000005400150001004F0072006900670069006E0061006C00460069006C0065006E0061006D0065000000530051004C00530065007200760065007200500072006F006A006500630074002E0064006C006C0000000000440011000100500072006F0064007500630074004E0061006D00650000000000530051004C00530065007200760065007200500072006F006A006500630074000000000044000F000100500072006F006400750063007400560065007200730069006F006E00000031002E0030002E0032003700310032002E00320036003200300036000000000048000F00010041007300730065006D0062006C0079002000560065007200730069006F006E00000031002E0030002E0032003700310032002E00320036003200300036000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000C000000C03B00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
WITH PERMISSION_SET = SAFE
GO
ALTER ASSEMBLY [SQLServerProject]
ADD FILE FROM 0xEFBBBF7573696E672053797374656D3B0D0A7573696E672053797374656D2E446174613B0D0A7573696E672053797374656D2E446174612E53716C436C69656E743B0D0A7573696E672053797374656D2E446174612E53716C54797065733B0D0A7573696E67204D6963726F736F66742E53716C5365727665722E5365727665723B0D0A0D0A0D0A7075626C6963207061727469616C20636C6173732053746F72656450726F636564757265730D0A7B0D0A202020205B4D6963726F736F66742E53716C5365727665722E5365727665722E53716C50726F6365647572655D0D0A202020207075626C69632073746174696320766F69642047657452616365727328290D0A202020207B0D0A20202020202020202F2F2050757420796F757220636F646520686572650D0A202020202020202053716C436F6E6E656374696F6E20636F6E6E656374696F6E203D206E65772053716C436F6E6E656374696F6E2822436F6E7465787420436F6E6E656374696F6E3D7472756522293B0D0A0D0A2020202020202020636F6E6E656374696F6E2E4F70656E28293B0D0A202020202020202053716C436F6D6D616E6420636F6D6D616E64203D206E65772053716C436F6D6D616E6428293B0D0A2020202020202020636F6D6D616E642E436F6E6E656374696F6E203D20636F6E6E656374696F6E3B0D0A2020202020202020636F6D6D616E642E436F6D6D616E6454657874203D202253454C4543542049642C2046697273746E616D652C204C6173746E616D652C20436F756E7472792046524F4D20526163657273223B0D0A202020202020202053716C4461746152656164657220726561646572203D20636F6D6D616E642E4578656375746552656164657228293B0D0A0D0A202020202020202053716C506970652070697065203D2053716C436F6E746578742E506970653B0D0A2020202020202020706970652E53656E6428726561646572293B0D0A2020202020202020636F6E6E656374696F6E2E436C6F736528293B0D0A0D0A202020207D0D0A7D3B0D0A
AS N'GetRacers.cs'
GO
ALTER ASSEMBLY [SQLServerProject]
ADD FILE FROM 0xEFBBBF7573696E672053797374656D2E5265666C656374696F6E3B0D0A7573696E672053797374656D2E52756E74696D652E436F6D70696C657253657276696365733B0D0A7573696E672053797374656D2E52756E74696D652E496E7465726F7053657276696365733B0D0A7573696E672053797374656D2E446174612E53716C3B0D0A0D0A2F2F2047656E6572616C20496E666F726D6174696F6E2061626F757420616E20617373656D626C7920697320636F6E74726F6C6C6564207468726F7567682074686520666F6C6C6F77696E670D0A2F2F20736574206F6620617474726962757465732E204368616E6765207468657365206174747269627574652076616C75657320746F206D6F646966792074686520696E666F726D6174696F6E0D0A2F2F206173736F636961746564207769746820616E20617373656D626C792E0D0A5B617373656D626C793A20417373656D626C795469746C65282253514C53657276657250726F6A65637422295D0D0A5B617373656D626C793A20417373656D626C794465736372697074696F6E282222295D0D0A5B617373656D626C793A20417373656D626C79436F6E66696775726174696F6E282222295D0D0A5B617373656D626C793A20417373656D626C79436F6D70616E79282222295D0D0A5B617373656D626C793A20417373656D626C7950726F64756374282253514C53657276657250726F6A65637422295D0D0A5B617373656D626C793A20417373656D626C79436F707972696768742822436F7079726967687420C2A920203230303722295D0D0A5B617373656D626C793A20417373656D626C7954726164656D61726B282222295D0D0A5B617373656D626C793A20417373656D626C7943756C74757265282222295D0D0A0D0A5B617373656D626C793A20436F6D56697369626C652866616C7365295D0D0A0D0A2F2F0D0A2F2F2056657273696F6E20696E666F726D6174696F6E20666F7220616E20617373656D626C7920636F6E7369737473206F662074686520666F6C6C6F77696E6720666F75722076616C7565733A0D0A2F2F0D0A2F2F2020202020204D616A6F722056657273696F6E0D0A2F2F2020202020204D696E6F722056657273696F6E0D0A2F2F2020202020204275696C64204E756D6265720D0A2F2F2020202020205265766973696F6E0D0A2F2F0D0A2F2F20596F752063616E207370656369667920616C6C207468652076616C756573206F7220796F752063616E2064656661756C7420746865205265766973696F6E20616E64204275696C64204E756D626572730D0A2F2F206279207573696E672074686520272A272061732073686F776E2062656C6F773A0D0A5B617373656D626C793A20417373656D626C7956657273696F6E2822312E302E2A22295D0D0A0D0A
AS N'Properties\AssemblyInfo.cs'
GO
ALTER ASSEMBLY [SQLServerProject]
ADD FILE FROM 0x4D6963726F736F667420432F432B2B204D534620372E30300D0A1A445300000000020000010000001F00000094000000000000001D000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000880900C3FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF30F2FFFCFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF0BCA3101380000000010000000100000000000000E00FFFF0400000003800000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000F862513FC607D311905300C04FA302A1C4454B99E9E6D211903F00C04FA302A10B9D865A1166D311BD2A0000F80849BD60A66E40CF64824CB6F042D48172A7991000000000000000A5097C1252086E7057B043382CB6487D0B0000000700000008000000090000000C0000000D0000000E0000000F0000001000000011000000120000001300000015000000140000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000F862513FC607D311905300C04FA302A1C4454B99E9E6D211903F00C04FA302A10B9D865A1166D311BD2A0000F80849BD60A66E40CF64824CB6F042D48172A799100000000000000062F9E0A4AE93ACE070EEC17613065185000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000BCA310138000000001000000010000000000000FFFFFFFF040000000380000000000000FFFFFFFF00000000FFFFFFFF00000000FFFFFFFF000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000F862513FC607D311905300C04FA302A1C4454B99E9E6D211903F00C04FA302A10B9D865A1166D311BD2A0000F80849BD60A66E40CF64824CB6F042D48172A79910000000000000007A808D63B83D7D68C7C6ECF1E17D326F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000F862513FC607D311905300C04FA302A1C4454B99E9E6D211903F00C04FA302A10B9D865A1166D311BD2A0000F80849BD60A66E40CF64824CB6F042D48172A799100000000000000062F9E0A4AE93ACE070EEC17613065185000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000B800000000000000B8000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000FEEFFEEF010000003E010000006B3A5C53616D706C65735C54726976616469732042495320323030375C56697375616C53747564696F53616D706C654F6E655C53514C53657276657250726F6A6563745C4765745261636572732E637300006B3A5C73616D706C65735C74726976616469732062697320323030375C76697375616C73747564696F73616D706C656F6E655C73716C73657276657270726F6A6563745C6765747261636572732E6373006B3A5C53616D706C65735C54726976616469732042495320323030375C56697375616C53747564696F53616D706C654F6E655C53514C53657276657250726F6A6563745C54797065312E6373006B3A5C73616D706C65735C74726976616469732062697320323030375C76697375616C73747564696F73616D706C656F6E655C73716C73657276657270726F6A6563745C74797065312E63730007000000000000005200000000000000A40000000100000053000000F10000000500000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001BE23001AC000000600DD40976A7C7010100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000004000000010000000A00000000000000F1000000280000001BE23001F531D47758000000A400000052000000F100000065000000000000000000000053000000280000001BE23001B3375C0658000000010000005200000053000000650000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001BE23001AC000000E0A80E1D76A7C7010200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000004000000010000000A00000000000000F1000000280000001BE23001F531D47758000000A400000052000000F100000065000000000000000000000053000000280000001BE23001778B4B0458000000010000005200000053000000650000000000000000000000554D6963726F736F66742E53716C5365727665722E536572766572001E00201100000000010000110000000000000000636F6E6E656374696F6E00001A00201101000000010000110000000000000000636F6D6D616E64001A0020110200000001000011000000000000000072656164657200001A002011030000000100001100000000000000007069706500000000020006002E000404C93FEAC6B359D649BC250902BBABB460000000004D0044003200000004010000040000000C0000000100050002000600F200000090000000000000000100010043000000000000000A00000084000000000000000C000080010000000E0000800C0000001000008012000000110000801A0000001200008026000000130000802D0000001500008033000000160000803B000000170000804200000019000080050006000900510009002F00090029000900550009003800090028000400000032002A110000000070010000000000004A000000000000000000000001000006000000000100000000476574526163657273000016000311040000003C0100004A00000000000000010000000A0024115553797374656D00120024115553797374656D2E44617461000000001A0024115553797374656D2E446174612E53716C436C69656E7400001A0024115553797374656D2E446174612E53716C54797065730000001E002411554D6963726F736F66742E53716C5365727665722E536572766572001E00201100000000010000110000000000000000636F6E6E656374696F6E00001A00201101000000010000110000000000000000636F6D6D616E64001A0020110200000001000011000000000000000072656164657200001A002011030000000100001100000000000000007069706500000000020006002E000404C93FEAC6B359D649BC250902BBABB460000000004D0044003200000004010000040000000C0000000100050002000600F20000009C00000000000000010001004A000000000000000B00000090000000000000000C000080010000000E0000800C000000100000801300000011000080190000001200008021000000130000802D0000001400008034000000160000803A000000170000804200000018000080490000001A000080050006000900510009001B0009002F000900290009005500090038000900280009001B0009001C0005000600F4000000080000000100000000000000080000000000000018000000670000001600031104000000E80000000B00000043000000010000000A0024115553797374656D00120024115553797374656D2E44617461000000001A0024115553797374656D2E446174612E53716C436C69656E7400001A0024115553797374656D2E446174612E53716C54797065730000001E002411554D6963726F736F66742E53716C5365727665722E536572766572001E00201100000000020000110000000000000400435324312430303030000000020006003A000404C93FEAC6B359D649BC250902BBABB460000000004D0044003200000004020000040000000C00000001000500040212000C000000010000060200060032002A1100000000CC010000000000000C0000000000000000000000040000064E00000001000000006765745F49734E756C6C00160003112C010000980100000C0000004E000000010000001E00201100000000030000110000000000000400435324312430303030000000020006002E000404C93FEAC6B359D649BC250902BBABB460000000004D004400320000000401000004015D070C000000030000060200060032002A11000000008802000000000000170000000000000000000000050000065A00000001000000006765745F4E756C0400000032002A110000000028010000000000000B0000000000000000000000030000064A0000000100000000546F537472696E670000001600031104000000E80000000B0000004A000000010000000A0024115553797374656D00120024115553797374656D2E44617461000000001A0024115553797374656D2E446174612E53716C436C69656E7400001A0024115553797374656D2E446174612E53716C54797065730000001E002411554D6963726F736F66742E53716C5365727665722E536572766572001E00201100000000020000110000000000000400435324312430303030000000020006003A000404C93FEAC6B359D649BC250902BBABB460000000004D0044003200000004020000040000000C00000001000500040212000C000000010000060200060032002A1100000000CC010000000000000C0000000000000000000000040000065500000001000000006765745F49734E756C6C00160003112C010000980100000C00000055000000010000001E00201100000000030000110000000000000400435324312430303030000000020006002E000404C93FEAC6B359D649BC250902BBABB460000000004D0044003200000004010000040159070C000000030000060200060032002A11000000008802000000000000170000000000000000000000050000066100000001000000006765745F4E756C6C00000016000311D0010000540200001700000061000000010000001E00201101000000040000110000000000000400435324312430303030000000160020110000000004000011000000000000000068000000020006002E000404C93FEAC6B359D649BC250902BBABB460000000004D0044003200000004010000040100000C00000003000006020006002E002A110000000060030000000000002500000000000000000000000600000678000000010000000050617273650000160003118C0200002C0300002500000078000000010000001E002011010000000500001100000000000004004353243124303030300000001E00201102000000050000110000000000000400435324342430303031000000160020110000000005000011000000000000000075000000020006002E000404C93FEAC6B359D649BC250902BBABB460000000004D0044003200000004010000040100000C000000030000060200060032002A110000000004040000000000000B0000000000000000000000070000069D00000001000000004D6574686F6431000000001600031164030000D00300000B0000009D000000010000001E00201100000000020000110000000000000400435324312430303030000000020006002E000404C93FEAC6B359D649BC250902BBABB460000000004D0044003200000004010000040159070C000000030000060200060032002A1100000000A80400000000000010000000000000000000000008000006A800000001000000004D6574686F64320000000016000311080400007404000010000000A8000000010000001E00201100000000060000110000000000000400435324312430303030000000020006002E000404C93FEAC6B359D649BC250902BBABB460000000004D0044003200000004010000040159070C0000000300000602000600F20000003C0000004A000000010001000B000000000000000300000030000000000000000C000080010000000E000080090000000F000080050006000900130005000600F20000003C00000055000000010001000C000000000000000300000030000000000000001400008001000000160000800A0000001700008009000A000D001B0009000A00F200000054000000610000000100010017000000000000000500000048000000000000001D000080010000001E000080090000001F0000801100000020000080150000002100008009000A000D0023000D001D000D00160009000A00F20000006C000000780000000100010025000000000000000700000060000000000000002500008001000000260000800C000000EEEFFE800F0000002700008017000000280000801F0000002A000080230000002B0000800500060009001600000000000D00190009001F000900120005000600F20000003C0000009D000000010001000B000000000000000300000030000000000000002F00008001000000310000800900000032000080050006000900180005000600F20000003C000000A80000000100010010000000000000000300000030000000000000003600008001000000380000800E00000039000080050006000900270005000600F400000008000000A400000000000000300000003000000048000000600000007C00000094000000AC000000C4000000D8000000F000000008010000200100003801000000000000000000020000000000000000010000000000000000000000000000000000000000000000000000000000000001000200000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000001000400000000000000000000000000000000000000000000600000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000FFFFFFFF1A092FF1700000003C0200000100000001000000490000000100000031000000010000001900000001000000D900000001000000950000000100000009010000010000007D00000001000000AD0000000100000061000000010000002101000001000000F1000000010000003901000001000000C500000001000000000000000000000000000000100000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000000000000010000000000000000000000000000000000000000000000000000000000000001000200000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000001000400000000000000000000000000000000000000000000600000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000C0000001800000024000000300000003C0000004800000054000000600000006C0000007800000084000000900000009C000000303030303035000012002511000000008C020000020050617273650016002911000000008C02000002003036303030303036000016002511000000006403000002004D6574686F643100000016002911000000006403000002003036303030303037000016002511000000000804000002004D6574686F643200000016002911000000000804000002003036303030303038000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001600251100000000040000000100476574526163657273001600291100000000040000000100303630303030303100001600251100000000040000000200546F537472696E6700001600291100000000040000000200303630303030303300001A002511000000002C01000002006765745F49734E756C6C0000000016002911000000002C0100000200303630303030303400001600251100000000D001000002006765745F4E756C6C00001600291100000000D001000002003036303030303035000012002511000000008C020000020050617273650016002911000000008C02000002003036303030303036000016002511000000006403000002004D6574686F643100000016002911000000006403000002003036303030303037000016002511000000000804000002004D6574686F6432000000160029110000000008040000020030363030303030380000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000FFFFFFFF1A092FF10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000FFFFFFFF77093101020000000B0000880C0027C60D002605AC000000C80000002C000000B4000000000000000000000016000000190000000000EEC00000000000000000FFFF000000000000FFFFFFFF00000000FFFF00000000000000000000000009007401000000000000B40000000100000080305A07000000000000000053746F72656450726F6365647572657300434441353133364600000000000000FFFF000000000000FFFFFFFF00000000FFFF0000000000000000000000000A00AC04000000000000F001000001000000F02F5A070000000000000000547970653100433236374131434200002DBA2EF101000000000000004A00000000000000000000000000000000000000010000004A0000000B0000000000000001000000000000000000000001000000550000000C000000000000000100000000000000000000000100000061000000170000000000000001000000000000000000000001000000780000002500000000000000010000000000000000000000010000009D0000000B0000000000000001000000000000000000000001000000A80000001000000000000000010000000000000000000000020002000D01000000000100FFFFFFFF00000000B80000000802000000000000FFFFFFFF00000000FFFFFFFF02000200000001000100010000000000510000006B3A5C53616D706C65735C5409000000900000003601000038000000FFFFFFFF000000006E010000AC00000058000000580000000400000003000000060000000A0000000B000000070000000800000072632F66696C65732F6B3A5C73616D706C65735C74726976616469732062697320323030375C76697375616C73747564696F73616D706C656F6E655C73716C73657276657270726F6A6563745C6765747261636572732E6373002F7372632F66696C65732F6B3A5C73616D706C65735C74726976616469732062697320323030375C76697375616C73747564696F73616D706C656F6E655C73716C73657276657270726F6A6563745C74797065312E637300050000000A000000010000003E000000000000001100000006000000220000000700000000000000040000007E000000080000000A00000005000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000018000000180000003601000038000000C3020000000000006E010000AC00000058000000580000002800000028020000D0060000BC0200002C0000005001000003000000180000000600000016000000170000000A0000000B0000000700000008000000090000000C0000000D0000000E0000000F0000001000000011000000120000001300000015000000140000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000726976616469732042495320323030375C56697375616C53747564696F53616D706C654F6E655C53514C53657276657250726F6A6563745C4765745261636572732E6373006B3A5C53616D706C65735C54726976616469732042495320323030375C56697375616C53747564696F53616D706C654F6E655C53514C53657276657250726F6A6563745C54797065312E6373000000FEEFFEEF010000000100000000010000000000000000000000FFFFFFFFFFFFFFFFFFFF0F00FFFFFFFFFFFFFFFFFFFF0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000942E31010D66654602000000F99D106BEB9870449CFB215E5D44AD21D60000002F4C696E6B496E666F002F6E616D6573002F7372632F686561646572626C6F636B002F7372632F66696C65732F6B3A5C73616D706C65735C74726976616469732062697320323030375C76697375616C73747564696F73616D706C656F6E655C73716C73657276657270726F6A6563745C6765747261636572732E6373002F7372632F66696C65732F6B3A5C73616D706C65735C74726976616469732062697320323030375C76697375616C73747564696F73616D706C656F6E655C73716C73657276657270726F6A6563745C74797065312E637300050000000A000000010000003E000000000000001100000006000000220000000700000000000000040000007E000000080000000A00000005000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000440000003601000038000000C3020000000000006E010000AC000000580000005800000034020000D0060000BC0200002C00000050010000FFFFFFFF28000000180000001B00000006000000170000001A0000000A0000000C00000004000000050000000D0000000E0000000F0000001000000011000000120000001300000014000000160000001500000009000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001C000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
AS N'SQLServerProject.pdb'
GO
ALTER ASSEMBLY [SQLServerProject]
ADD FILE FROM 0xEFBBBF7573696E672053797374656D3B0D0A7573696E672053797374656D2E446174613B0D0A7573696E672053797374656D2E446174612E53716C436C69656E743B0D0A7573696E672053797374656D2E446174612E53716C54797065733B0D0A7573696E67204D6963726F736F66742E53716C5365727665722E5365727665723B0D0A0D0A5B53657269616C697A61626C655D0D0A5B4D6963726F736F66742E53716C5365727665722E5365727665722E53716C55736572446566696E65645479706528466F726D61742E4E6174697665295D0D0A7075626C696320737472756374205479706531203A20494E756C6C61626C650D0A7B0D0A202020207075626C6963206F7665727269646520737472696E6720546F537472696E6728290D0A202020207B0D0A20202020202020202F2F205265706C6163652074686520666F6C6C6F77696E6720636F6465207769746820796F757220636F64650D0A202020202020202072657475726E2022223B0D0A202020207D0D0A0D0A202020207075626C696320626F6F6C2049734E756C6C0D0A202020207B0D0A20202020202020206765740D0A20202020202020207B0D0A2020202020202020202020202F2F2050757420796F757220636F646520686572650D0A20202020202020202020202072657475726E206D5F4E756C6C3B0D0A20202020202020207D0D0A202020207D0D0A0D0A202020207075626C696320737461746963205479706531204E756C6C0D0A202020207B0D0A20202020202020206765740D0A20202020202020207B0D0A20202020202020202020202054797065312068203D206E657720547970653128293B0D0A202020202020202020202020682E6D5F4E756C6C203D20747275653B0D0A20202020202020202020202072657475726E20683B0D0A20202020202020207D0D0A202020207D0D0A0D0A202020207075626C6963207374617469632054797065312050617273652853716C537472696E672073290D0A202020207B0D0A202020202020202069662028732E49734E756C6C290D0A20202020202020202020202072657475726E204E756C6C3B0D0A202020202020202054797065312075203D206E657720547970653128293B0D0A20202020202020202F2F2050757420796F757220636F646520686572650D0A202020202020202072657475726E20753B0D0A202020207D0D0A0D0A202020202F2F2054686973206973206120706C6163652D686F6C646572206D6574686F640D0A202020207075626C696320737472696E67204D6574686F643128290D0A202020207B0D0A20202020202020202F2F496E73657274206D6574686F6420636F646520686572650D0A202020202020202072657475726E202248656C6C6F223B0D0A202020207D0D0A0D0A202020202F2F2054686973206973206120706C6163652D686F6C64657220737461746963206D6574686F640D0A202020207075626C6963207374617469632053716C537472696E67204D6574686F643228290D0A202020207B0D0A20202020202020202F2F496E73657274206D6574686F6420636F646520686572650D0A202020202020202072657475726E206E65772053716C537472696E67282248656C6C6F22293B0D0A202020207D0D0A0D0A202020202F2F2054686973206973206120706C6163652D686F6C646572206669656C64206D656D6265720D0A202020207075626C696320696E7420766172313B0D0A202020202F2F2050726976617465206D656D6265720D0A202020207072697661746520626F6F6C206D5F4E756C6C3B0D0A7D0D0A0D0A0D0A
AS N'Type1.cs'
GO
EXEC sys.sp_addextendedproperty @name=N'AutoDeployed', @value=N'yes' , @level0type=N'ASSEMBLY',@level0name=N'SQLServerProject'
GO
EXEC sys.sp_addextendedproperty @name=N'SqlAssemblyProjectRoot', @value=N'k:\Samples\Trivadis BIS 2007\VisualStudioSampleOne\SQLServerProject' , @level0type=N'ASSEMBLY',@level0name=N'SQLServerProject'
GO
/****** Object:  Table [dbo].[Racers]    Script Date: 12/07/2009 22:02:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Racers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Firstname] [nvarchar](50) NOT NULL,
	[Lastname] [nvarchar](50) NOT NULL,
	[Country] [nvarchar](50) NULL,
	[Starts] [int] NULL,
	[Wins] [int] NULL,
 CONSTRAINT [PK_Racers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Racers] ON
INSERT [dbo].[Racers] ([Id], [Firstname], [Lastname], [Country], [Starts], [Wins]) VALUES (1, N'Nino', N'Farina', N'Italy', 37, 5)
INSERT [dbo].[Racers] ([Id], [Firstname], [Lastname], [Country], [Starts], [Wins]) VALUES (2, N'Alberto', N'Ascari', N'Italy', 32, 10)
INSERT [dbo].[Racers] ([Id], [Firstname], [Lastname], [Country], [Starts], [Wins]) VALUES (3, N'Juan Manuel', N'Fangio', N'Argentina', 51, 24)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
SET IDENTITY_INSERT [dbo].[Racers] OFF
/****** Object:  Table [dbo].[Circuit]    Script Date: 12/07/2009 22:02:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Circuit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Circuit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Circuit] ON
INSERT [dbo].[Circuit] ([Id], [Name], [Country]) VALUES (2, N'Silverstone', N'Great Britain')
INSERT [dbo].[Circuit] ([Id], [Name], [Country]) VALUES (3, N'Monte Carlo', N'Monaco')
INSERT [dbo].[Circuit] ([Id], [Name], [Country]) VALUES (4, N'Indianapolis', N'USA')
SET IDENTITY_INSERT [dbo].[Circuit] OFF
/****** Object:  Table [dbo].[YearResultsTeam]    Script Date: 12/07/2009 22:02:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YearResultsTeam](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Year] [int] NOT NULL,
	[TeamId] [int] NOT NULL,
	[Place] [int] NULL,
	[Points] [numeric](6, 2) NULL,
 CONSTRAINT [PK_YearResultsTeam] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[YearResultsTeam] ON
INSERT [dbo].[YearResultsTeam] ([Id], [Year], [TeamId], [Place], [Points]) VALUES (1, 1950, 1, 1, CAST(89.00 AS Numeric(6, 2)))
INSERT [dbo].[YearResultsTeam] ([Id], [Year], [TeamId], [Place], [Points]) VALUES (2, 1950, 2, 2, CAST(21.00 AS Numeric(6, 2)))
INSERT [dbo].[YearResultsTeam] ([Id], [Year], [TeamId], [Place], [Points]) VALUES (3, 1950, 3, 3, CAST(20.00 AS Numeric(6, 2)))
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[YearResultsTeam] OFF
/****** Object:  Table [dbo].[YearResults]    Script Date: 12/07/2009 22:02:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YearResults](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Year] [int] NOT NULL,
	[RacerId] [int] NOT NULL,
	[Place] [int] NULL,
	[Points] [numeric](4, 2) NULL,
 CONSTRAINT [PK_YearResults] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[YearResults] ON
INSERT [dbo].[YearResults] ([Id], [Year], [RacerId], [Place], [Points]) VALUES (1, 1950, 29, 1, CAST(30.00 AS Numeric(4, 2)))
INSERT [dbo].[YearResults] ([Id], [Year], [RacerId], [Place], [Points]) VALUES (2, 1950, 3, 3, CAST(27.00 AS Numeric(4, 2)))
INSERT [dbo].[YearResults] ([Id], [Year], [RacerId], [Place], [Points]) VALUES (3, 1950, 2, 5, CAST(11.00 AS Numeric(4, 2)))
SET IDENTITY_INSERT [dbo].[YearResults] OFF
/****** Object:  UserDefinedType [dbo].[Type1]    Script Date: 12/07/2009 22:02:46 ******/
CREATE TYPE [dbo].[Type1]
EXTERNAL NAME [SQLServerProject].[Type1]
GO
EXEC sys.sp_addextendedproperty @name=N'AutoDeployed', @value=N'yes' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TYPE',@level1name=N'Type1'
GO
EXEC sys.sp_addextendedproperty @name=N'SqlAssemblyFile', @value=N'Type1.cs' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TYPE',@level1name=N'Type1'
GO
EXEC sys.sp_addextendedproperty @name=N'SqlAssemblyFileLine', @value=7 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TYPE',@level1name=N'Type1'
GO
/****** Object:  Table [dbo].[Race]    Script Date: 12/07/2009 22:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Race](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CircuitId] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_Race] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Race] ON
INSERT [dbo].[Race] ([Id], [CircuitId], [Date]) VALUES (1, 2, CAST(0x000047DA00000000 AS DateTime))
INSERT [dbo].[Race] ([Id], [CircuitId], [Date]) VALUES (2, 3, CAST(0x000047E200000000 AS DateTime))
INSERT [dbo].[Race] ([Id], [CircuitId], [Date]) VALUES (3, 4, CAST(0x000047EB00000000 AS DateTime))
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
SET IDENTITY_INSERT [dbo].[Race] OFF
/****** Object:  StoredProcedure [dbo].[GetRacers]    Script Date: 12/07/2009 22:03:03 ******/
CREATE PROCEDURE [dbo].[GetRacers]
AS
EXTERNAL NAME [SQLServerProject].[StoredProcedures].[GetRacers]
GO
EXEC sys.sp_addextendedproperty @name=N'AutoDeployed', @value=N'yes' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'GetRacers'
GO
EXEC sys.sp_addextendedproperty @name=N'SqlAssemblyFile', @value=N'GetRacers.cs' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'GetRacers'
GO
EXEC sys.sp_addextendedproperty @name=N'SqlAssemblyFileLine', @value=10 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'GetRacers'
GO
/****** Object:  Table [dbo].[RaceResults]    Script Date: 12/07/2009 22:03:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RaceResults](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RaceId] [int] NOT NULL,
	[Position] [int] NOT NULL,
	[Grid] [int] NULL,
	[Points] [numeric](8, 2) NULL,
	[RacerId] [int] NOT NULL,
	[TeamId] [int] NOT NULL,
 CONSTRAINT [PK_RaceResults] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RaceResults] ON
INSERT [dbo].[RaceResults] ([Id], [RaceId], [Position], [Grid], [Points], [RacerId], [TeamId]) VALUES (1, 1, 1, 1, CAST(9.00 AS Numeric(8, 2)), 29, 1)
INSERT [dbo].[RaceResults] ([Id], [RaceId], [Position], [Grid], [Points], [RacerId], [TeamId]) VALUES (2, 1, 2, 2, CAST(6.00 AS Numeric(8, 2)), 30, 1)
INSERT [dbo].[RaceResults] ([Id], [RaceId], [Position], [Grid], [Points], [RacerId], [TeamId]) VALUES (3, 1, 3, 4, CAST(4.00 AS Numeric(8, 2)), 31, 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
GO
print 'Processed 2500 total records'
GO
print 'Processed 2600 total records'
GO
print 'Processed 2700 total records'
GO
print 'Processed 2800 total records'
GO
print 'Processed 2900 total records'
GO
print 'Processed 3000 total records'
GO
print 'Processed 3100 total records'
GO
print 'Processed 3200 total records'
GO
print 'Processed 3300 total records'
GO
print 'Processed 3400 total records'
GO
print 'Processed 3500 total records'
GO
print 'Processed 3600 total records'
GO
print 'Processed 3700 total records'
GO
print 'Processed 3800 total records'
GO
print 'Processed 3900 total records'
GO
print 'Processed 4000 total records'
GO
print 'Processed 4100 total records'
GO
print 'Processed 4200 total records'
GO
print 'Processed 4300 total records'
GO
print 'Processed 4400 total records'
GO
print 'Processed 4500 total records'
GO
print 'Processed 4600 total records'
GO
print 'Processed 4700 total records'
SET IDENTITY_INSERT [dbo].[RaceResults] OFF
/****** Object:  ForeignKey [FK_YearResultsTeam_Teams]    Script Date: 12/07/2009 22:02:45 ******/
ALTER TABLE [dbo].[YearResultsTeam]  WITH CHECK ADD  CONSTRAINT [FK_YearResultsTeam_Teams] FOREIGN KEY([TeamId])
REFERENCES [dbo].[Teams] ([Id])
GO
ALTER TABLE [dbo].[YearResultsTeam] CHECK CONSTRAINT [FK_YearResultsTeam_Teams]
GO
/****** Object:  ForeignKey [FK_YearResults_Racers]    Script Date: 12/07/2009 22:02:45 ******/
ALTER TABLE [dbo].[YearResults]  WITH CHECK ADD  CONSTRAINT [FK_YearResults_Racers] FOREIGN KEY([RacerId])
REFERENCES [dbo].[Racers] ([Id])
GO
ALTER TABLE [dbo].[YearResults] CHECK CONSTRAINT [FK_YearResults_Racers]
GO
/****** Object:  ForeignKey [FK_Race_Circuit]    Script Date: 12/07/2009 22:02:46 ******/
ALTER TABLE [dbo].[Race]  WITH CHECK ADD  CONSTRAINT [FK_Race_Circuit] FOREIGN KEY([CircuitId])
REFERENCES [dbo].[Circuit] ([Id])
GO
ALTER TABLE [dbo].[Race] CHECK CONSTRAINT [FK_Race_Circuit]
GO
/****** Object:  ForeignKey [FK_RaceResults_Race]    Script Date: 12/07/2009 22:03:03 ******/
ALTER TABLE [dbo].[RaceResults]  WITH CHECK ADD  CONSTRAINT [FK_RaceResults_Race] FOREIGN KEY([RaceId])
REFERENCES [dbo].[Race] ([Id])
GO
ALTER TABLE [dbo].[RaceResults] CHECK CONSTRAINT [FK_RaceResults_Race]
GO
/****** Object:  ForeignKey [FK_RaceResults_Racers]    Script Date: 12/07/2009 22:03:03 ******/
ALTER TABLE [dbo].[RaceResults]  WITH CHECK ADD  CONSTRAINT [FK_RaceResults_Racers] FOREIGN KEY([RacerId])
REFERENCES [dbo].[Racers] ([Id])
GO
ALTER TABLE [dbo].[RaceResults] CHECK CONSTRAINT [FK_RaceResults_Racers]
GO
/****** Object:  ForeignKey [FK_RaceResults_Teams]    Script Date: 12/07/2009 22:03:03 ******/
ALTER TABLE [dbo].[RaceResults]  WITH CHECK ADD  CONSTRAINT [FK_RaceResults_Teams] FOREIGN KEY([TeamId])
REFERENCES [dbo].[Teams] ([Id])
GO
ALTER TABLE [dbo].[RaceResults] CHECK CONSTRAINT [FK_RaceResults_Teams]
GO
