<?xml version="1.0"?>

<configuration>

  <system.web>
    <roleManager enabled="true"/>
    <authorization>
      <deny users="?"/>
    </authorization>
    <compilation debug="false" targetFramework="4.0" />
    <authentication mode="Forms" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
