<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Wrox.ProCSharp.AddIns.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Wrox.ProCSharp.AddIns.Properties.Settings>
            <setting name="PipelinePath" serializeAs="String">
                <value>K:\ProC# 4.0\code\MAF\AddInsSample\Pipeline</value>
            </setting>
        </Wrox.ProCSharp.AddIns.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
