<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Chapter_2_CSharp.Properties.Settings.AdventureWorksLT2008ConnectionString"
            connectionString="Data Source=ADOSTEP\SQLEXPRESS;Initial Catalog=AdventureWorksLT2008;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Chapter_2_CSharp.Properties.Settings.StepSampleConnectionString"
            connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=StepSample;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>