<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
	<connectionStrings>
		<add name="MRBConnectionString" connectionString="Data Source=.\SQLExpress;Integrated Security=True;AttachDBFilename=|DataDirectory|MeetingRoomBooker.mdf;User Instance=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
