<?xml version="1.0"?>

<configuration>

    <system.web>
        <roleManager enabled="true" />
        <authentication mode="Forms" />
        <compilation debug="false" targetFramework="4.0" />
    </system.web>
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>

</configuration>
