<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Chapter_20_CSharp.Properties.Settings.StepSampleConnectionString"
            connectionString="Data Source=(local)\SQLExpress;Initial Catalog=StepSample;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>