<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <connectionStrings>
        <add name="BegVCSharpEventsConnectionString" connectionString="Data Source='(local)\sqlexpress';Integrated Security=True;Pooling=False;Initial Catalog='BegVCSharpEvents'"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <authorization>
          <deny users="?" />
        </authorization>
        <roleManager enabled="true" />
        <authentication mode="Forms" />
        <compilation debug="true" targetFramework="4.0" />
      <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
        <providers>
          <clear />
          <add name="XmlSiteMapProvider"
               description="Default SiteMap Provider"
               type="System.Web.XmlSiteMapProvider"
               siteMapFile="Web.sitemap"
               securityTrimmingEnabled="true" />
        </providers>
      </siteMap>
    </system.web>
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>
</configuration>