<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <system.diagnostics>
    <sources>
      <source name="Demo" switchValue="Verbose">
        <listeners>
          <add name="eventListener"/>
        </listeners>

      </source>
    </sources>
    <sharedListeners>
      <add name="xmlListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="xmlOutput.xml" traceOutputOptions="ProcessId, DateTime"/>
      <add name="eventListener" type="System.Diagnostics.Eventing.EventProviderTraceListener, System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="{BF8671E1-2B70-41f3-AE0C-993C6A7D6763}"/>
    </sharedListeners>
  </system.diagnostics>
</configuration>
