<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="SampleHandler" verb="*" path="CallSampleHandler" type="Wrox.ProCSharp.ASPNETCore.SampleHandler, HandlerSample"/>
      <add name="InfoHandler" verb="GET" path="InfoHandler.axd" type="Wrox.ProCSharp.ASPNETCore.InfoHandler, HandlerSample"/>
    </handlers>
    <modules>
      <add name="SampleModule" type="Wrox.ProCSharp.ASPNETCore.SampleModule, ModuleSample"/>
    </modules>
  </system.webServer>
</configuration>