<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
       <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />             
    </startup>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="" name="Wrox.ProCSharp.WCF.MessageService">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration=""
          contract="Wrox.ProCSharp.WCF.IMyMessage">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/MessageService/Service1/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors />
  </system.serviceModel>
</configuration>