<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CompositeOrderby.Properties.Settings.db_TomeTwoConnectionString"
            connectionString="Data Source=WIN-GI7E47AND9R\LS;Initial Catalog=db_TomeTwo;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>